// csss Reset
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
            text-size-adjust: none;
  }
  
  footer, header, nav, section, main {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a{
    text-decoration: none;
  }

// Varibles
// ---Colors--
  $Base-Color: #fff;
  $primary-Color: #00C7FD;
  $secondary-Color: #FF5661;
  $dark-Blue: #00285A;
  $light-Blue:#9DBFDA;

  // Button
  $black: #000 !default;
  $border-radius: 0.25rem !default;
  $box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
  


// Body Styling

  body{
      background: $light-Blue;
  } 

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: $dark-Blue;
    padding: 1em;
    margin: 0 auto;

    .logo {
        display: flex;
        align-content: center;
        color: $light-Blue;
      }

      .buttons{
        display: flex;
        padding: 0.5em;

          .login{
            padding: 1rem;
              button{
              width: 178px;
              height: 48px;
              flex-shrink: 0;
              border-radius: 8px;
              border: none;
              background: $primary-Color;
              color: $Base-Color;
              text-align: center;
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 133.333% */
              letter-spacing: 4.482px;
              }
            }

          .singup{
              button{
              background-color: $secondary-Color;
              }
            }
        }

      nav{
      padding: 0.5rem;
      color:#fff;
    
      .active{
        font-size: 1.5em;
        a{
          color: $secondary-Color;
          text-align: center;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 133.333% */
          letter-spacing: 4.482px;
        }
      }

      li{
          float: left;
          padding-left: 8em;
          a{
            color: $Base-Color;
            text-align: center;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 133.333% */
            letter-spacing: 4.482px;
          }
        }
      
      }

  }


  main{
    display: grid;
    #cta{
      display: grid;
      grid-template-columns: 2fr;

      .cta_Content{
        grid-column: 1/2;
        padding: 5em;

        h1{
          color: $black;
          font-family: Poppins;
          font-size: 45px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 53.333% */
          letter-spacing: -0.495px;
          margin-bottom: 2em;
        }
        p{
          color: #1E1E1E;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 30px */
          letter-spacing: -0.22px;
        }
      }
      .cta_Img{
        grid-column: 2/3;
      }
    }

  }
